{% extends 'base_generic.html' %}
{% block content %}
<div>
    <h2>About me</h2>
    <p>Hello, my name is Denis, and I am software python developer. This is my life story. </p>
    <p>I was born in a small town near the capital of Ukraine Kyiv. The city is called Kagarlyk, in this city I went to
        first grade in 2006, but I don`t like that school and my parents transferred me to another school. The another
        school was in Kyiv. In school, I realy liked math and physics. At school I became interested in electronics and
        as result I became interested in programming. My first programing language was C for arduino, it`s simplified C
        for embedded devices. I graduated from high school in 2017 and entered the KPI University at the Faculty of
        Radio Engineering. Why Radio Engineering? Because I thought that I liked hardware more than software, but
        I understand later that it`s not right. In KPI I study a lot of math, physics and a little less programming.
        The programming languages I taught were С/C++, Matlab. On the second year university I understand that I need
        more universal tool for programming, so I started learning python. Why python? Because I had a task to make some
        browser automation script. I really liked python when I wrote this script. Scripts that I wrote began to use my
        friends, and I was needed to create some UI for them. So I started to study PYQT and later django. On the fourth
        year university I get a job in small company which was engaged in the development of control units for
        electrical substation. My main stack in that company was python and little c/c++. 24.02.2022 I was drafted into
        the Ukrainian army, where I am to this day</p>
</div>
{% endblock content %}