{% extends 'base_fields.html' %}
{% load static %}

{% block sidebar %}
<div class="sidebar">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar-content" style="width: 200px; text-align: center;">
        <a href="#navbar" class="link-dark">
            <span class="fs-4">Navigation</span>
        </a>
        <hr>
        {% for technology in technologies %}
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                        data-bs-target="#{{ technology.name }}" aria-expanded="true" type="button">
                    <img src="{% static 'bootstrap-icons-1.8.1/chevron-down.svg' %}" alt="SomeAlternateText">
                    {{ technology.name }}
                </button>
                <div class="collapse show" id="{{ technology.name }}" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        {% for project in projects %}
                        {% if project.technology == technology %}
                        <li><a href="#{{ project.name }}" class="link-dark rounded">{{ project.name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
        {% endfor %}
    </div>
    <div class="dragholder">

    </div>
</div>
{% endblock sidebar %}
{% block fields_content %}
<link rel="stylesheet" href="{% static 'css/my_projects.css' %}" type="text/css">

<div class="main-content">
</div>
<script src="{% static 'js/my_projects.js' %}"></script>
{% endblock fields_content %}
