{% extends 'base_generic.html' %}
{% load static %}
{% block sidebar %}
<div class="sidebar" style="left: 0px;">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar-content" style="width: 200px;">
                <a href="/"
                   class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-4">Navigation</span>
                </a>
                <hr>
                {% for technology in technologies %}
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                                data-bs-target="#{{ technology.name }}" aria-expanded="true" type="button">
                            <img src="{% static 'bootstrap-icons-1.8.1/chevron-down.svg' %}" alt="SomeAlternateText">
                            {{ technology.name }}
                        </button>
                        <div class="collapse show" id="{{ technology.name }}" style="">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                {% for project in projects %}
                                {% if project.technology == technology %}
                                <li><a href="#{{ project.name }}" class="link-dark rounded">{{ project.name }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
                {% endfor %}
            </div>
      <div class="dragholder">

      </div>
</div>
{% endblock sidebar %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/test.css' %}" type="text/css">

    <div class="row skills">

    </div>


<script src="{% static 'js/test.js' %}"></script>
{% endblock content %}